{% extends 'base.html'%}

    {% block conteudo %}

    {% for mensagem in get_flashed_messages() %}
        <div class='alert alert-danger'>
            {{mensagem}}
        </div>
    {% endfor %}

    <h1 style='text-align: center'>Atualisar de Cursos</h1>

    <form class='form-control' action="{{url_for('atualiza_curso', id=curso.id)}}" method='POST' >
        <label >Nome</label>
        <input type="text" name='nome' class="form-control" value='{{curso.nome}}'  placeholder="nome" required>
    
        <label> descrição </label>
        <input type="text" name='descricao' class="form-control" value='{{curso.descricao}}'  placeholder="descricao" required>

        <label >Carga-horaria</label>
        <input type="text" name='ch' class="form-control" value='{{curso.ch}}'  placeholder="ch" required>
        <br>
      <button type="submit" class="btn btn-success">Adicionar</button>
  
    {% endblock conteudo %}
