hr {
    margin: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid black;
    border-top: 1px solid

}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    margin-left: 30px;

}
.Central{

    margin-left: 3rem;
    margin-right: 3rem;

}

form{

    margin-left: 2em;
    margin-right: 2em;

}
.form-control1 {
    display: block;
    width: 85%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.col-md-4 {
    padding: 12px;
}